body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfcfcf;
  opacity: 1;
  background-image: radial-gradient(#e6a000 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#e6a000 1.2000000000000002px, #cfcfcf 1.2000000000000002px);
  background-size: 48px 48px;
  background-position: 0 0, 24px 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  transition: all 10s;
  cursor: pointer;
}

img.headshot {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 5s;
  cursor: pointer;
}

img.headshot2 {
  width: 200px;
  height: auto;
  border-radius: 20%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 5s;
  cursor: pointer;
}


img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

img:active {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #888;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  margin: 10px 10px 10px 10px;
  background-color: #3700d5;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #3700d5 4px), repeating-linear-gradient(#62000055, #620000);
}

h1 {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #888;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  margin: 10px 10px 30px 10px;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
  background-position: 9px 0, 9px 0, 0 0, 0 0;
  background-size: 18px 18px;
  background-repeat: repeat;
}

.statement {
  font-style: italic;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:not(:last-child) {
  margin-right: 10px;
}

.contact a {
  text-decoration: none;
  color: #000000;
}

a.active {
  color: #000000;
  text-shadow: 0 0 1px #000000;
}

.projects,
.home_page,
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.projects img {
  margin: 0px;
  width: 300px;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.projects a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
  text-shadow: 0 0 1px #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000000;
  font-size: 1em;

}

button:hover {
  color: #000000;
  text-shadow: 0 0 1px #000000;
}

input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;

  background-color: #f3f3f3;
  opacity: 1;
  background: repeating-linear-gradient(45deg, #fcdfd9, #fcdfd9 3px, #f3f3f3 3px, #f3f3f3 15px);

}

textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 300px;
  background-color: #f3f3f3;
  opacity: 1;
  background: repeating-linear-gradient(-45deg, #fcdfd9, #fcdfd9 3px, #f3f3f3 3px, #f3f3f3 15px);
}

.cards button {
  background-color: transparent;
  color: #000000;
  border: none;
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
  box-shadow: none;
}

.big {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.big img {
  width: 80%;
  height: auto;
}


@media screen and (max-width: 400px) {
  input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
  }

  textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 250px;
  }
}

@media screen and (max-width: 340px) {
  input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
  }

  textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 200px;
  }
}